:root {
  --main-color: #ec5286;
  --secondary-color: #97abb1;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

button {
  background-color: transparent;
  transition: all 0.15s ease-in-out;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
    filter: brightness(0.9);
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0d0d0d;
  color: var(--secondary-color);
  overflow: hidden;
  user-select: none;
  // background: repeating-conic-gradient(
  //   rgb(13, 13, 13),
  //   var(--secondary-color),
  //   rgb(13, 13, 13) 0.8deg
  // );
}

header {
  width: 100%;
  padding: 4rem 0;
  text-align: center;

  img {
    height: 6rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 4rem;
    font-family: 'Great Vibes', sans-serif;

    em {
      color: var(--main-color);
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding-bottom: 8%;

  .panel {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    text-align: center;
    font-family: 'Amarante', sans-serif;
    margin: 0 4rem;
    color: #d0d0d0;

    button {
      width: 6rem;
      height: 6rem;
      background-size: 6rem;
      background-position: center;
      transition: all 0.15s ease-in-out;
      // filter: brightness(0) invert(1);
      opacity: 0;
    }

    .plus {
      background-image: url('/src/assets/images/button/plus.png');
      &:hover {
        filter: brightness(0.8) invert(1);
      }
    }

    .minus {
      background-image: url('/src/assets/images/button/minus.png');
      transform: translateY(10px);
      &:hover {
        filter: brightness(0.2) invert(1);
      }
    }

    .num {
      width: 5rem;
      height: 8rem;
      margin: 0 0.5rem;
      padding: 2rem 4rem;
      line-height: 8rem;
      text-align: center;
    }

    .semicolon {
      position: relative;
      top: -0.5rem;
    }
  }

  .controller {
    position: relative;
    display: flex;
    gap: 8rem;
    padding: 4rem 0;

    button {
      width: 6rem;
      height: 6rem;
      margin: 0 2rem;
      background-size: 5rem;
      background-position: center;
      background-repeat: no-repeat;
    }

    .start {
      background-image: url('/src/assets/images/button/start.svg');
    }

    .pause {
      background-image: url('/src/assets/images/button/pause.svg');
    }

    .reset {
      background-image: url('/src/assets/images/button/reset.svg');
    }
  }
}

.decor {
  --innerPadding: 2rem;

  img {
    height: 6rem;
  }

  .spiraling-tl {
    position: fixed;
    left: var(--innerPadding);
    top: var(--innerPadding);
  }
  .spiraling-rl {
    position: fixed;
    right: var(--innerPadding);
    top: var(--innerPadding);
  }
  .spiraling-bl {
    position: fixed;
    left: var(--innerPadding);
    bottom: var(--innerPadding);
  }
  .spiraling-br {
    position: fixed;
    right: var(--innerPadding);
    bottom: var(--innerPadding);
  }
}

.countdown {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(13, 13, 13, 1);

  &.active {
    display: flex;
  }

  img {
    height: 60%;
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 56%;
  }

  main > img {
    width: 15rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  h1 {
    font-size: 2rem;
  }

  main > img {
    width: 10rem;
  }

  .countdown img {
    height: 30%;
  }
}
